<% layout('/layouts/boilerplate') %>
    <div class="row">

        <div class="col-6 offset-3 mb-2">

            <div class="card" style="width: 30vw;">
                <h1 class="text-center">
                    <%= campgrounds.title %>
                </h1>
                <img src="<%=campgrounds.img %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <u>
                            <%= `State - ${campgrounds.state}` %>
                        </u>
                    </h5>
                    <h5 class="card-title">
                        <u>
                            <%= `Location - ${campgrounds.location}` %>
                    </h5>
                    <p class="card-text">
                        <%= campgrounds.description %>
                    </p>
                    <h5 class="card-title">
                        <%= campgrounds.price %>
                    </h5>
                    <a href="/campgrounds/<%= campgrounds._id %>/edit" class="btn btn-primary mb-2">Edit</a>
                    <a href="/campgrounds" class="btn btn-success mb-2">All Campgrounds</a>
                    <form action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <form action="/campgrounds/<%= campgrounds._id%>/reviews" method="POST" novalidate class="submit-form">
                <h2>Leave a Review</h2>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input required name="review[rating]" class="form-range" min="1" max="5" type="number" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea required class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
                </div>
                <button class="btn btn-success">Post</button>
            </form>
        </div>
    </div>

    <!-- <form action="/campgrounds/<%= campgrounds._id %>/reviews" method="POST" novalidate class="submit-form"></form> -->